{% extends "base.html" %}

{% block title %}Hello{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="subscription-container">
      <div class="subscription-header">
        <p class="subscription-header-title">My Feeds</p>
        <div class="input-wrapper">
          <input name="sub-query" type="text" class="input-form" id="sub-query" value="" placeholder="Add an URL" autocomplete="off" />
        </div>
      </div>
      <div class="subscription-body">
        {% include "app/feeds/subscription_list.html" %}
      </div>
    </div>
  </div>
  <div class="col-md-9"></div>
</div>
{% endblock %}

{% block handlebars_templates %}{% endblock handlebars_templates %}