// Auth styles
.signin-container {
  margin-top: 20px;
  padding: 20px;
  .signin-title {
    font-size: 30px;
    color: #fff;
  }
  input {
    background-color: transparent;
    border: 0;
    font-size: 22px;
    color: #FAFAFA;
    &:focus {
      outline: none;
    }
  }
}