.btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  .transition(~"background-color .5s linear");
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #eee;
    color: #eee;
  }
}
.btn.btn-red {
  &:hover {
    color: @red;
  }
}
.btn.btn-green {
  &:hover {
    color: @green;
  }
}