// Import the fonts
@font-face {
  font-family: 'Glyphish';
  src: url('../../fonts/glyphish.ttf') format('truetype');
}

// Catchall baseclass
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphish';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphish-plus { &:before { content: "\2b"; } }


@font-face {
  font-family: 'Open Sans Light';
  src: url('../../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}