/* CSS - Main - AlphaBrain
 * Date of creation : 26/06/2014
 * Creator : R. FONCIER
 * Target : all
 * Comment :
 *
 * ------------------------------------------------------------------- */

// Bootstrap imports
@import "../bootstrap/bootstrap";

// Colors and textures imports
@import "colors";
@import "textures";
@import "alpha-variables";
@import "fonts";
@import "buttons";

// Basics & common
html {
  background-color: @bgin;
  #gradient.vertical(@bgout, @bgin);
  body { background-color: transparent; }
}

// Application imports
@import "icons";
//@import "modal";
@import "navbar";
@import "auth";
@import "content";
@import "app/feeds";