// Navbar
.navbar { 
  margin-bottom: 0px;
  border: 0; 
}
.navbar-default {
  background: none;
  border: 0;
  .navbar-brand {
    width: 180px;
    color: #fff;
    .logo-title {
      display: block;
      margin-top: 5px;
      margin-left: 55px;
      font-size: 20px;
    }
  }
  .nav {
    margin-top: 20px;
    .sign-block {
      color: #fff;
      a {
        display: inline-block;
        margin: 0;
        padding: 0 5px;
        color: #fff;
      }
    }
    .dropdown {
      a.dropdown-toggle {
        display: inline-block;
        margin: 0;
        padding: 0 5px;
        color: #fff;
      }
    }
    .dropdown.open {
      a.dropdown-toggle {
        background-color: transparent;
      }
    }
  }
}