.subscription-container {
  color: #fff;
  .input-wrapper {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0;
    .border-top-radius(3px);
    .border-bottom-radius(3px);
    input {
      width: 100%;
      background-color: transparent;
      border: 0;
      .placeholder(#eee);
      &:focus {
        outline: none;
      }
    }
  }
}