<script type="text/x-handlebars" id="tpl-feed-add">
  <form name="feed-add" role="form" id="feed-add" data-url="/api/feeds/subscription">
    {% csrf_token %}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <span class="modal-title" id="modal-label"><strong>Add a new subscription</strong></span>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input name="username" type="text" class="form-control" id="username" value="" placeholder="Your username" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="password">PASSWORD</label>
        <input name="password" type="password" class="form-control" id="password" value="" placeholder="Your password" />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </form>
</script>