<!-- Modal -->
<div class="modal fade" id="alphabrain-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content"></div>
  </div>
</div>
