{% load staticfiles %}
{% load compressed %}
{% load templatetag_handlebars %}

<!DOCTYPE html>
<html>
  {% block head %}
  <head>
    <title>AlphaBrain - {% block title %}{{ page.title }}{% endblock title %}</title>
    {% block head_favicon %}{% endblock head_favicon %}

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" value="en-en" />
    {% block head_meta_keywords %}<meta name="keywords" content="alphabrain feeds aggregator twitter machine learning">{% endblock head_meta_keywords %}
    <meta name="author" content="Romain FONCIER">
    {% block head_meta_content%}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock head_meta_content%}
    {% block head_meta_robots %}{% endblock head_meta_robots %}

    {% block head_css %}
    {% block head_css_site %}
    {% compressed_css 'main' %}
    {% endblock head_css_site %}
    {% block head_css_section %}{% endblock head_css_section %}
    {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
    {% block js_header %}
      {% handlebars_js %}
    {% endblock js_header %}
    {% block extra_js_header %}{% endblock %}
    {% block extra_header %}{% endblock %}
  </head>
  {% endblock head %}

  {% block body %}
  <body>
    <!-- App wrapper -->
    <div class="app-wrapper">
      <!-- Menu - Navbar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tn-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
              <img class="logo-small pull-left" src="{% static "img/global/logo.png"%}" alt="alphabrain logo">
              <span class="logo-title">αlphabrain</span>
            </a>
          </div>

          <div class="collapse navbar-collapse" id="tn-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Account</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout/">Logoff</a></li>
                </ul>
              </li>
              {% else %}
              <li class="sign-block">
                <a href="/signin/" id="btn-signin">Signin</a> | <a href="/signup/" class="btn-signup">Signup</a>
              </li>
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <!-- Main content -->
      <div id="content-wrapper">
        <div class="container">
        {% block content %}{% endblock content %}
        </div>
      </div>

      <!-- Modal include -->
      {% include "includes/modal.html" %}

      <!-- Handlebars templates -->
      {% block handlebars_templates %}{% endblock handlebars_templates %}
    </div>
  </body>
  {% endblock body %}

  {% block footer_js %}
    {% block footer_js_site %}
      {% compressed_js 'jquery' %}
      {% compressed_js 'underscore' %}
      {% compressed_js 'bootstrap' %}
      {% compressed_js 'lib' %}
      {% compressed_js 'main' %}
    {% endblock footer_js_site %}
    {% block footer_js_section %}{% endblock footer_js_section %}
    {% block footer_js_page %}{% endblock footer_js_page %}
  {% endblock footer_js %}
</html>