{% extends "base.html" %}

{% block title %}Signin{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="signin-container">
        <p class="signin-title">SignIn</p>
        <form name="login" role="form" id="login" method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form.username }}
          </div>
          <div class="form-group">
            {{ form.password }}
          </div>
          <div class="btn-container">
            <button type="button" class="btn btn-red" id="cancel">Cancel</button>
            <button type="submit" class="btn btn-green" id="submit">Signin</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}